@model ContactUs
<div class="container"style="margin-top:25px;margin-bottom:25px">
    <div class="col-10">
        @*action="forms/contact.php*@
        <form  asp-controller="Home" asp-action="CreateContact" role="form" class="php-email-form">
            <div class="row">
                <div class="col form-group mt-3" >
                    <input asp-for="Name" type="text" class="form-control"  placeholder="Your Name" required="">
                </div>
                <div class="col form-group mt-3">
                    <input asp-for="Email" type="email" class="form-control"  placeholder="Your Email" required="">
                </div>
            </div>
            <div class="form-group mt-3">
                <input asp-for="Subject" type="text" class="form-control"  placeholder="Subject" required="">
            </div>
            <div class="form-group mt-3">
                <textarea asp-for="Message" class="form-control"  rows="5" placeholder="Message" required=""></textarea>
            </div>
            <a href="/Home/CreateContact" type="submit" class="btn btn-success">Send</a>
            <button class="btn btn-success" href="/Home/CreateContact" type="submit">Send Message</button>
        </form>
    </div>
</div>